%section(data-state="white")
  %h1
    Sass
  %p Syntactically Awesome Stylesheets
  = image_tag "http://sass-lang.com/images/sass.gif", alt: "Sass Logo"
  = image_tag "http://wdcmdresden.com/wp-content/themes/default/img/wdcm.png", alt: "WDCM Dresden"
%section#intro
  %section
    %h2 Warum?
  %section
    = image_tag "http://bethesignal.org/wp-content/uploads/2009/06/css-is-awesome-700x375.jpg"
    %p CSS:
    %ul
      %li
        %strike Variablen
      %li
        %strike Mathematik
      %li
        %strike Import
      %li Vendor-Prefixes

= partial "syntax"
= partial "tools"
= partial "rails"
= partial "compass"
= partial "alternativen"



